@{
    Layout = "~/Areas/en/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" ng-controller="gateController" ng-init="getGates();">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gate <small>List of Gates </small></h2>
                <a href="newgate" class="btn btn-dark btn-sm alignright">Add New Gate</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="alert alert-info" style="display:none"></div>
                <br />
                <div class="datatable" style="display:none">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Gate</th>
                                <th>Mode</th>
                                <th>Active</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr ng-repeat="gate in gates">
                                <td>{{ gate.GATE }}</td>
                                <td>{{ gate.MODE }}</td>
                                <td>{{ gate.ACTIVE }}</td>
                                <td>
                                    <a href="~/en/gate/editgate/#/?id={{gate.ID}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


