@{
    Layout = "~/Areas/en/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" ng-controller="gateController" ng-init="initGateForm();">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gate <small>Add New Gate</small></h2>
                <a href="gate" class="btn btn-dark btn-sm alignright">View Gate</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="alert alert-info" style="display:none"></div>
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Gate <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" required="required" class="form-control col-md-7 col-xs-12" ng-model="gates.GATE">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Mode <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12" ng-model="gates.MODE">
                                <option value="I">In</option>
                                <option value="O">Out</option>
                                <option value="M">Mixed</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Active <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12" ng-model="gates.ACTIVE">
                                <option value="A">Active</option>
                                <option value="I">Inactive</option>

                            </select>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="button" ng-click="saveGate()" class="btn btn-success">Save</button>
                            <button class="btn btn-primary" ng-click="initGateForm()" type="reset">Reset</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



