@{
    ViewBag.Title = "newPallet";
    Layout = "~/Areas/en/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" ng-controller="pallettypeController" ng-init="getPalletTypes();">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Pallet Type <small>List of Pallet Type </small></h2>
                <a href="newpallettype" class="btn btn-dark btn-sm alignright">Add New Pallet Type</a>
                <div class="clearfix"></div>

            </div>
            
            <div class="x_content">
               
                <div class="alert alert-info" style="display:none"></div>
                <br />
                <div class="datatable" style="display:none">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Pallet Type</th>
                                <th>Active</th>
                                <th style="width:50px"></th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr ng-repeat="type in types">
                                <td>{{ type.TYPE }}</td>
                                <td>{{ type.ACTIVE }}</td>
                                <td>
                                    <a href="~/en/pallettype/editpallettype/#/?id={{type.ID}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


